name: CI

on:
  push:
    branches:
      - 'main'
    paths-ignore:
      - '.github/**/*.md'
  pull_request:
    branches:
      - 'main'
    paths-ignore:
      - '.github/**/*.md'
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        java: [ '17', '21', 'profile-j21' ]
        maven: [ '3.9.6' ]
        os: [ 'ubuntu-22.04' ]
    name: Build (Java ${{ matrix.java }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        if: github.head_ref == ''
        uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b

      - name: Checkout merge
        if: github.head_ref != ''
        uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b
        with:
          ref: refs/pull/${{github.event.pull_request.number}}/merge

      - name: Set up Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.m2/repository
            !~/.m2/repository/org/openhab
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Set up Java ${{ matrix.java }}
        uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9
        if: ${{ matrix.java != 'profile-j21' }}
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}

      - name: Set up Java ${{ matrix.java }}
        uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9
        if: ${{ matrix.java == 'profile-j21' }}
        with:
          distribution: 'temurin'
          java-version: ${{ 21 }}

      - name: Set up Maven ${{ matrix.maven }}
        uses: stCarolas/setup-maven@d6af6abeda15e98926a57b5aa970a96bb37f97d1
        with:
          maven-version: ${{ matrix.maven }}

      - name: Register Problem Matchers
        if: ${{ matrix.java == '17' }}
        id: problem_matchers
        run: |
          echo "::add-matcher::.github/openhab-compile-problems.json"

      - name: Get Changed Files
        if: github.head_ref != ''
        id: files
        uses: Ana06/get-changed-files@25f79e676e7ea1868813e21465014798211fad8c
        with:
          format: 'csv'

      - name: Build
        if: ${{ matrix.java != 'profile-j21' }}
        id: build
        run: './.github/scripts/maven-build'
        env:
          CHANGED_FILES: ${{ steps.files.outputs.all }}
          MAVEN_OPTS: >-
            -Xmx2g
            -Dmaven.wagon.http.retryHandler.count=5
            -Dmaven.wagon.httpconnectionManager.ttlSeconds=25
            -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn

      - name: Build
        if: ${{ matrix.java == 'profile-j21' }}
        id: build-j21
        run: './.github/scripts/maven-build clean verify -B -T 1.5C -U -Pj21'
        env:
          CHANGED_FILES: ${{ steps.files.outputs.all }}
          MAVEN_OPTS: >-
            -Xmx2g
            -Dmaven.wagon.http.retryHandler.count=5
            -Dmaven.wagon.httpconnectionManager.ttlSeconds=25
            -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn

      - name: Upload Build Log
        if: ${{ always() && ((steps.build.outcome == 'success') || (steps.build.outcome == 'failure') || (steps.build-j21.outcome == 'success') || (steps.build-j21.outcome == 'failure')) }}
        uses: actions/upload-artifact@v4
        with:
          name: build-log-java-${{ matrix.java }}-${{ matrix.os }}
          path: build.log

      - name: Upload SAT Summary Report
        if: ${{ matrix.java == '17' && always() && ((steps.build.outcome == 'success') || (steps.build.outcome == 'failure')) }}
        uses: actions/upload-artifact@v4
        with:
          name: sat-summary-report
          path: target/summary_report.html

      - name: Report SAT Errors as Annotations
        if: ${{ matrix.java == '17' && always() && ((steps.build.outcome == 'success') || (steps.build.outcome == 'failure')) }}
        uses: ghys/checkstyle-github-action@bd34573c2add8a11e78be993ca937a7bb2e97d05
        with:
          title: CheckStyle Violations
          path: '**/checkstyle-result.xml'
          mode: inline
